# Core numerical computing
jaxtyping
typeguard
equinox
optax
scipy
scipy-stubs

# Testing
pytest>=8

# Development & Analysis
pyright
pydeps
pydocstyle
ruff

# Documentation & Formatting
mdformat
mdformat-myst
